<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <server name="APP_ENV" value="testing" force="true"/>
        <server name="APP_DEBUG" value="false" force="true"/>
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="BROADCAST_CONNECTION" value="null"/>
        <server name="CACHE_STORE" value="array" force="true"/>
        <server name="DB_CONNECTION" value="pgsql" force="true"/>
        <server name="DB_DATABASE" value="krl_test" force="true"/>
        <env name="DB_URL" value=""/>
        <env name="MAIL_MAILER" value="array"/>
        <server name="QUEUE_CONNECTION" value="sync" force="true"/>
        <server name="SESSION_DRIVER" value="array" force="true"/>
        <server name="FRONTEND_URL" value="http://localhost:3000" force="true"/>
        <server name="SANCTUM_STATEFUL_DOMAINS" value="localhost:3000" force="true"/>
        <server name="KCI_DRIVER" value="mock" force="true"/>
        <server name="KCI_SYNC_DAYS" value="2" force="true"/>
        <server name="KCI_SYNC_STATIONS" value="" force="true"/>
        <server name="KCI_STATIONS_API_URL" value="" force="true"/>
        <server name="KCI_SCHEDULES_API_URL" value="" force="true"/>
        <server name="KCI_TRAIN_STOPS_API_URL" value="" force="true"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
        <env name="NIGHTWATCH_ENABLED" value="false"/>
    </php>
</phpunit>
